<nav class="border-b border-gray-200 sticky top-0 z-50 h-24 select-none md:bg-pri-half dark:md:bg-pri-half-dark" x-data="{ showMenu: false }">
  <div class="container relative flex flex-wrap items-center justify-between h-24 mx-auto overflow-hidden font-medium md:overflow-visible lg:justify-center sm:px-4 md:px-2 lg:px-0" x-data="navbar">
    <slot />
  </div>
</nav>
