<section class='justify-center text-center py-4'>
  <h1 class='font-triakis mb-6 font-extrabold leading-none max-w-5xl mx-auto tracking-normal text-gray-900 dark:text-gray-100 sm:text-6xl md:text-6xl lg:text-7xl md:tracking-tight'>
    <bold class='w-full text-transparent bg-clip-text lg:inline bg-gradient-to-r dark:from-acc dark:via-[#D5D0D7] dark:to-acc from-acc via-sec to-acc-dark'>Alternative Tech</bold> to Exit<br class='lg:block hidden' />
    The Big-Tech Ecosystem.
  </h1>
</section>
